/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************  */

body
{
  font-family: 						"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/************* FONT  */

.maj
{
text-transform:						uppercase;
}

.lineheight15
{
	line-height: 						1.5em;
}

.bold
{
	font-weight: 						bold;
}

.italic
{
	font-style: 						italic;
}

.underline
{
	text-decoration: 				underline;
}



.font09
{
font-size: 								0.9em;
}

.font13
{
font-size: 								1.3em;
}

.font11
{
font-size: 								1.1em;
}

.font23
{
font-size: 								2.3em;
}

.fontblack
{
	color: 									#777373;
}

.fontwhite
{
	color: 									#fff;
}

.fontgrey
{
	color: 									#777575;
}

.text-deco-none
{
	text-decoration: 				none;
}

.textcenter
{
	text-align: center;
}

.textjustify
{
	text-align: justify;
}

.exposant
{
	vertical-align: text-bottom;
	font-size: 50%;
}

/***************background  */

.bg-black
{
	background-color: 			#000;
}

/***************Border  */

.borderbot
{
	border-bottom: 1px grey solid;
}

/*************** FLEX  */

.row
{
  display: 								flex;
}

.column
{
	display: 								flex;
	flex-direction: 				column;
}

.jbetw
{
	justify-content: 				space-between;
}

.jaround
{
	justify-content: 				space-around;
}

.jcenter
{
	justify-content: 				center;
}

.aicenter
{
	align-items: 						center;
}

.aileft
{
	align-items:						flex-start;
}

.wrap
{
	flex-wrap:							wrap;
}

/******************* SLIDESHOW lhistoiretroubledempierre */

.hs-wrapper
{
	position: relative;
	width: 896px;
	height: 504px;
	background-color: black;
}

.hs-wrapper .image
{
	position: relative;
	object-fit: cover;
	top: 11%;
}

.hs-wrapper .image img
{
	position: absolute;
	animation: showMe 10s linear infinite 0s forwards;
	animation-play-state: running;
	width: 896px;
	height: 396.2px;
}

.hs-wrapper:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMe {
    0% {
			visibility: visible;
			z-index: 100;
		}
		20% {
			visibility: visible;
			z-index: 100;
		}
		40% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapper .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapper .image:nth-child(2) img{
	animation-delay: 2s;
	z-index: 8;
}
.hs-wrapper .image:nth-child(3) img{
	animation-delay: 4s;
	z-index: 7;
}
.hs-wrapper .image:nth-child(4) img{
	animation-delay: 6s;
	z-index: 6;
}

.hs-wrapper .image:nth-child(5) img{
	animation-delay: 8s;
	z-index: 5;
}

/******************* SLIDESHOW la Dynastie des poissons  */

.hs-wrapperDynast
{
	position: relative;
	width: 896px;
	height: 504px;
}

.hs-wrapperDynast .image
{
	position: relative;
}

.hs-wrapperDynast .image img
{
	position: absolute;
	animation: showMeDynast 29s linear infinite 0s forwards;
	animation-play-state: running;
	width: 896px;
	height: 504px;
}

.hs-wrapperDynast:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMeDynast {
    0% {
			visibility: visible;
			z-index: 100;
		}
		11,12% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapperDynast .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapperDynast .image:nth-child(2) img{
	animation-delay: 3s;
	z-index: 8;
}
.hs-wrapperDynast .image:nth-child(3) img{
	animation-delay: 6s;
	z-index: 7;
}
.hs-wrapperDynast .image:nth-child(4) img{
	animation-delay: 9s;
	z-index: 6;
}

.hs-wrapperDynast .image:nth-child(5) img{
	animation-delay: 12s;
	z-index: 5;
}

.hs-wrapperDynast .image:nth-child(6) img{
	animation-delay: 15s;
	z-index: 4;
}

.hs-wrapperDynast .image:nth-child(7) img{
	animation-delay: 18s;
	z-index: 4;
}

.hs-wrapperDynast .image:nth-child(8) img{
	animation-delay: 21s;
	z-index: 3;
}

.hs-wrapperDynast .image:nth-child(9) img{
	animation-delay: 24s;
	z-index: 2;
}

/****************** SLIDESHOW La pizza sentait le chien  */


.hs-wrapperPizza
{
	position: relative;
	width: 896px;
	height: 504px;
	background-color: black;
}

.hs-wrapperPizza .image
{
	position: relative;
	top: 17%;
}

.hs-wrapperPizza .image img
{
	position: absolute;
	animation: showMePizza 30s linear infinite 0s forwards;
	animation-play-state: running;
	width: 896px;
	height: 329px;
}

.hs-wrapperPizza:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMePizza {
    0% {
			visibility: visible;
			z-index: 100;
		}
		10,1% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapperPizza .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapperPizza .image:nth-child(2) img{
	animation-delay: 3s;
	z-index: 8;
}
.hs-wrapperPizza .image:nth-child(3) img{
	animation-delay: 6s;
	z-index: 7;
}
.hs-wrapperPizza .image:nth-child(4) img{
	animation-delay: 9s;
	z-index: 6;
}

.hs-wrapperPizza .image:nth-child(5) img{
	animation-delay: 12s;
	z-index: 5;
}

.hs-wrapperPizza .image:nth-child(6) img{
	animation-delay: 15s;
	z-index: 4;
}

.hs-wrapperPizza .image:nth-child(7) img{
	animation-delay: 18s;
	z-index: 4;
}

.hs-wrapperPizza .image:nth-child(8) img{
	animation-delay: 21s;
	z-index: 3;
}

.hs-wrapperPizza .image:nth-child(9) img{
	animation-delay: 24s;
	z-index: 2;
}

.hs-wrapperPizza .image:nth-child(10) img{
	animation-delay: 27s;
	z-index: 1;
}

/*********************SLIDESHOW La fille aux jambes d'allumettes  */


.hs-wrapperFille
{
	position: relative;
	width: 896px;
	height: 504px;
	background-color: black;
}

.hs-wrapperFille .image
{
	position: relative;
	width: 896px;
	height: 339.5px;
	top: 17%;
}

.hs-wrapperFille .image img
{
	position: absolute;
	animation: showMeFille 30s linear infinite 0s forwards;
	animation-play-state: running;
	width: 896px;
	height: 339.5px;
}

.hs-wrapperFille:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMeFille {
    0% {
			visibility: visible;
			z-index: 100;
		}
		10,1% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapperFille .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapperFille .image:nth-child(2) img{
	animation-delay: 3s;
	z-index: 8;
}
.hs-wrapperFille .image:nth-child(3) img{
	animation-delay: 6s;
	z-index: 7;
}
.hs-wrapperFille .image:nth-child(4) img{
	animation-delay: 9s;
	z-index: 6;
}

.hs-wrapperFille .image:nth-child(5) img{
	animation-delay: 12s;
	z-index: 5;
}

.hs-wrapperFille .image:nth-child(6) img{
	animation-delay: 15s;
	z-index: 4;
}

.hs-wrapperFille .image:nth-child(7) img{
	animation-delay: 18s;
	z-index: 4;
}

.hs-wrapperFille .image:nth-child(8) img{
	animation-delay: 21s;
	z-index: 3;
}

.hs-wrapperFille .image:nth-child(9) img{
	animation-delay: 24s;
	z-index: 2;
}

.hs-wrapperFille .image:nth-child(10) img{
	animation-delay: 27s;
	z-index: 1;
}

/********************* SLIDESHOW Niaiseries sans paroles  */



.hs-wrapperNiaiseries
{
	position: relative;
	width: 896px;
	height: 504px;
}

.hs-wrapperNiaiseries .image
{
	position: relative;
}

.hs-wrapperNiaiseries .image img
{
	position: absolute;
	animation: showMeNiaiseries 30s linear infinite 0s forwards;
	animation-play-state: running;
	width: 896px;
	height: 504px;
}

.hs-wrapperNiaiseries:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMeNiaiseries {
    0% {
			visibility: visible;
			z-index: 100;
		}
		10,1% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapperNiaiseries .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapperNiaiseries .image:nth-child(2) img{
	animation-delay: 3s;
	z-index: 8;
}
.hs-wrapperNiaiseries .image:nth-child(3) img{
	animation-delay: 6s;
	z-index: 7;
}
.hs-wrapperNiaiseries .image:nth-child(4) img{
	animation-delay: 9s;
	z-index: 6;
}

.hs-wrapperNiaiseries .image:nth-child(5) img{
	animation-delay: 12s;
	z-index: 5;
}

.hs-wrapperNiaiseries .image:nth-child(6) img{
	animation-delay: 15s;
	z-index: 4;
}

.hs-wrapperNiaiseries .image:nth-child(7) img{
	animation-delay: 18s;
	z-index: 4;
}

.hs-wrapperNiaiseries .image:nth-child(8) img{
	animation-delay: 21s;
	z-index: 3;
}

.hs-wrapperNiaiseries .image:nth-child(9) img{
	animation-delay: 24s;
	z-index: 2;
}

.hs-wrapperNiaiseries .image:nth-child(10) img{
	animation-delay: 27s;
	z-index: 1;
}

/****************** Header  */

.grid
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ascenter
{
	align-self: center;
}

/********************* GRID Works  */

.wrapper
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
	grid-row-gap: 0;
}

.wrapper a
{
	text-decoration: none;
	line-height: 0;
}

.wrapper .image
{
	background-color: blue;
	line-height: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s ease-in-out;
}

.wrapper img:hover
{
 opacity: 0.5;
 transform: scale(1.2);
 position: 50% 50%;
}

.wrapper .image .text
{
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
font-size: 1em;
pointer-events: none;
z-index: 4;
transition: .3s ease-in-out;
text-align: center;
padding: 1em;
width: 100%;
/* -webkit-backdrop-filter: blur(5px) saturate(1.8);
backdrop-filter: blur(5px) saturate(1.8); */
}

.wrapper .image:hover .text{
	opacity: 1;
	animation: move-down .3s linear;
	padding: 1em;
	width: 100%;
}

@keyframes move-down
{
	0% {
		top: 10%;
	}
	50% {
			top: 35%;
		}
	100% {
			top: 50%;
		}
}

.cartel
{
	position: absolute;
	top: 100%;
}

.cartel2
{
	position: absolute;
	top: 100%;
}

.details
{
	position: absolute;
	top: 116%;
}

.title:hover
{
	color: #fff;
	background-color: #000;
}
/****************** MARGIN  */

.margtopbot3
{
	margin-top: 						3vh;
	margin-bottom: 					3vh;
}

.margleft5
{
	margin-left: 5vw;
}

.marglr2
{
	margin-left: 						2vw;
	margin-right: 					2vw;
}

.marglr5
{
	margin-left: 						5vw;
	margin-right: 					5vw;
}

.margbot5
{
	margin-bottom: 						5vh;
}

.margbot4
{
	margin-bottom: 						4vh;
}

.margbot3
{
	margin-bottom: 						3vh;
}

.margbot2
{
	margin-bottom: 						2vh;
}

.margbot1
{
	margin-bottom: 						1vh;
}

.margtop2
{
	margin-top: 						2vh;
}

.margtop3
{
	margin-top: 						3vh;
}

.margtop4
{
	margin-top: 						4vh;
}

.margtop5
{
	margin-top: 						5vh;
}

.margtop13
{
	margin-top: 						13vh;
}

.margtop15
{
	margin-top: 						15vh;
}

.margtop20
{
	margin-top: 						20vh;
}

.margtop10
{
	margin-top: 						10vh;
}

.margtop30
{
	margin-top: 						30vh;
}

.margtop40
{
	margin-top: 						40vh;
}

.margtop55
{
	margin-top: 						55vh;
}

.margtop70
{
	margin-top: 						70vh;
}

.margbot0
{
	margin-bottom: -1px;
	margin-top: 2px;
}

.padfull1
{
	padding: 								1vh 1vw;
}

.padfull2
{
	padding: 								2vh 2vw;
}

.padbot5
{
	padding-bottom: 				5vh;
}

.width200
{
	width: calc(200px + 20vw);
}

.width100
{
	width: calc(100px + 16vw);
}

.fullWidth
{
	width: 100%;
}


/************************* Menu */

.hamburger
{
  fill: 									#777373;
	margin: 								0;
	cursor: 								pointer;
	justify-self: 					end;
	align-self: 						flex-start;
}

nav
{
	visibility: 						hidden;
}

nav ul
{
	list-style: 						none;
	display: 								flex;
}

nav ul a
{
	text-decoration: 				none;
}

nav ul a:hover
{
	background-color: 			black;
	color: 									white;
}

.cross
{
  display: 								none;
	font-size: 							0.5em;
	cursor: 								pointer;
	text-align: 						end;
	align-self: 						flex-start;
}

.cross:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-weight: bold;
  font-size: 4em;
	align-self: flex-start;
}

/***************************** Footer  */

.link-np a
{
	text-decoration: none;
	color: #000;
	font-size: 0.9em;
}

.link-np a:hover
{
	color: #777373;
}

/******************************  */

.foot
{
  display: flex;
  justify-content: center;
}

svg
{
  fill: white;
  cursor: pointer;
  margin: 0 5vw;
}

.yellow, .yellow2, .st21
{
  fill: yellow;
  stroke: black;
}

.yellowline, .yellowtext, .yellowarrow, .yellowline2, .yellowtext2, .yellowarrow2
{
  visibility: hidden;
}

.blue, .blue2
{
  fill: blue;
  stroke: black;
}

.green, .green2
{
  fill: green;
  stroke: black;
}

.greenline, .greentext, .greenarrow
{
  visibility: hidden;
}

.red, .red2, .red3
{
  fill: red;
  stroke: black;
}

.redline, .redtext, .redtextbis, .redarrow, .redtext2, .redline2, .redarrow2, .redline3, .redtext3, .redarrow3
{
  visibility: hidden;
}

/************************* RESPONSIVE SCREEN XL */

@media only screen and (min-width: 1920px)
{
	.hs-wrapperDynast
	{
	width: 1280px;
	height: 720px;
	}

	.hs-wrapperDynast .image img
	{
	width: 1280px;
	height: 720px;
	}

	.hs-wrapper
	{
		position: relative;
		width: 1280px;
		height: 720px;
		background-color: black;
	}

	.hs-wrapper .image img
	{
		position: absolute;
		animation: showMe 10s linear infinite 0s forwards;
		animation-play-state: running;
		width: 1280px;
		height: 566px;
	}

	.hs-wrapperPizza
	{
		width: 1280px;
		height: 720px;
	}

	.hs-wrapperPizza .image img
	{
		width: 1280px;
		height: 470px;
	}

	.hs-wrapperFille
	{
		width: 1280px;
		height: 720px;
	}

	.hs-wrapperFille .image img
	{
		width: 1280px;
		height: 470px;
	}

	.hs-wrapperNiaiseries
	{
		width: 1280px;
		height: 720px;
	}

	.hs-wrapperNiaiseries .image img
	{
		width: 1280px;
		height: 720px;
	}

	.margtop20
	{
		margin-top: 13vh;
	}

	.margtop13
	{
		margin-top: 9vh;
	}

	.margbot5
	{
		margin-bottom: 2vh;
	}

}

/******************************* RESPONSIVE SMARTPHONE & PAD */

@media only screen and (min-width: 200px) and (max-width: 1023px)
{

		.navEntry
		{
			font-size: 0.9em
		}

		.titleMedia
		{
			font-size: 1.3em;
			margin-top: 4vh;
		}

		.cartel
		{
			margin-top: 2vh;
		}

		.cartel2
		{
			margin-top: 2vh;
		}

		.hs-wrapper
		{
		width: 320px;
		height: 180px;
		}

		.hs-wrapper .image img
		{
		width: 320px;
		height: 141.5px;
		}

		.hs-wrapperDynast
		{
		width: 320px;
		height: 180px;
		}

		.hs-wrapperDynast .image img
		{
		width: 320px;
		height: 180px;
		}

		.hs-wrapperPizza
		{
			width: 320px;
			height: 180px;
		}

		.hs-wrapperPizza .image img
		{
			width: 320px;
			height: 117.5px;
		}

		.hs-wrapperFille
		{
			width: 320px;
			height: 180px;
		}

		.hs-wrapperFille .image img
		{
			width: 320px;
			height: 141.5px;
		}

		.hs-wrapperNiaiseries
		{
			width: 320px;
			height: 180px;
		}

		.hs-wrapperNiaiseries .image img
		{
			width: 320px;
			height: 180px;
		}

		.title
		{
			margin-top: 3vh;
		}

		.font13
		{
			font-size: 1em;
		}

		.link-np a
		{
			font-size: 0.8em;
		}

		.margtop15
		{
			margin-top: 20vh;
		}

		.details
		{
			top: 140%;
		}

		.details-synopsis-credits
		{
			flex-direction: column;
			align-items: center;
		}

		.details-credits
		{
			width: 100%;
			margin-left: 0;
			margin-top: 5vh;
		}

		.margtop55
		{
    	margin-top: 85vh;
		}

		.quote
		{
			width: 100%;
			margin-top: 2vh;
		}

		.width200
		{
    width: 100%;
		}

		.details
		{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
}
