/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************  */

body
{
  font-family: 						"Helvetica";
}

/************* FONT  */

.maj
{
text-transform:						uppercase;
}

.lineheight15
{
	line-height: 						1.5em;
}

.bold
{
	font-weight: 						bold;
}

.italic
{
	font-style: 						italic;
}

.font13
{
font-size: 								1.3em;
}

.font11
{
font-size: 								1.1em;
}

.font23
{
font-size: 								2.3em;
}

.fontblack
{
	color: 									black;
}

.text-deco-none
{
	text-decoration: 				none;
}

/***************Border  */

.borderbot
{
	border-bottom: 1px grey solid;
}

/*************** FLEX  */

.row
{
  display: 								flex;
}

.column
{
	display: 								flex;
	flex-direction: 				column;
}

.jbetw
{
	justify-content: 				space-between;
}

.jaround
{
	justify-content: 				space-around;
}

.jcenter
{
	justify-content: 				center;
}

.aicenter
{
	align-items: 						center;
}

.aileft
{
	align-items:						flex-start;
}

.wrap
{
	flex-wrap:							wrap;
}

/******************* SLIDESHOW  */

.hs-wrapper
{
	position: relative;
	width: 1280px;
	height: 566px;
}

.hs-wrapper .image
{
	position: relative;
}

.hs-wrapper .image img
{
	position: absolute;
	animation: showMe 10s linear infinite 0s forwards;
	animation-play-state: running;
}

.hs-wrapper:hover .image img
{
	animation-play-state: paused;
}

@keyframes showMe {
    0% {
			visibility: visible;
			z-index: 100;
		}
		20% {
			visibility: visible;
			z-index: 100;
		}
		40% {
			visibility: hidden;
			z-index: 0;
		}
		100% {
			visibility: hidden;
			z-index: 0;
		}
}

.hs-wrapper .image:nth-child(1) img{
	z-index: 9;
}
.hs-wrapper .image:nth-child(2) img{
	animation-delay: 2s;
	z-index: 8;
}
.hs-wrapper .image:nth-child(3) img{
	animation-delay: 4s;
	z-index: 7;
}
.hs-wrapper .image:nth-child(4) img{
	animation-delay: 6s;
	z-index: 6;
}

.hs-wrapper .image:nth-child(5) img{
	animation-delay: 8s;
	z-index: 5;
}


/****************** WORKS  */
.grid
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ascenter
{
	align-self: center;
}

.wrapper
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
	grid-row-gap: 0;
}

.wrapper a
{
	text-decoration: none;
	line-height: 0;
}

.wrapper .image
{
	background-color: blue;
	line-height: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s ease-in-out;
}

.wrapper img:hover
{
 opacity: 0.5;
 transform: scale(1.2);
 position: 50% 50%;
}

.wrapper .image .text
{
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
font-size: 1em;
pointer-events: none;
z-index: 4;
transition: .3s ease-in-out;
text-align: center;
padding: 1em;
width: 100%;
/* -webkit-backdrop-filter: blur(5px) saturate(1.8);
backdrop-filter: blur(5px) saturate(1.8); */
}

.wrapper .image:hover .text{
	opacity: 1;
	animation: move-down .3s linear;
	padding: 1em;
	width: 100%;
}

@keyframes move-down
{
	0% {
		top: 10%;
	}
	50% {
			top: 35%;
		}
	100% {
			top: 50%;
		}
}
/****************** MARGIN  */

.margtopbot3
{
	margin-top: 						3vh;
	margin-bottom: 					3vh;
}

.marglr2
{
	margin-left: 						2vw;
	margin-right: 					2vw;
}

.margtop13
{
	margin-top: 						13vh;
}

.margbot5
{
	margin-bottom: 						5vh;
}

.margbot2
{
	margin-bottom: 						2vh;
}

.margtop5
{
	margin-top: 						5vh;
}

.margbot0
{
	margin-bottom: -1px;
	margin-top: 2px;
}

.padfull1
{
	padding: 								1vh 1vw;
}

.padbot5
{
	padding-bottom: 				5vh;
}


/************************* Menu */

.hamburger
{
  fill: 									black;
	margin: 								0;
	cursor: 								pointer;
	justify-self: 					end;
	align-self: 						flex-start;
}

nav
{
	visibility: 						hidden;
}

nav ul
{
	list-style: 						none;
	display: 								flex;
}

nav ul a
{
	text-decoration: 				none;
}

nav ul a:hover
{
	background-color: 			black;
	color: 									white;
}

.cross
{
  display: 								none;
	font-size: 							0.5em;
	cursor: 								pointer;
	text-align: 						end;
	align-self: 						flex-start;
}

.cross:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-weight: bold;
  font-size: 4em;
	align-self: flex-start;
}
/****************************** Works  */



/******************************  */

.foot
{
  display: flex;
  justify-content: center;
}

svg
{
  fill: white;
  cursor: pointer;
  margin: 0 5vw;
}

.yellow, .yellow2, .st21
{
  fill: yellow;
  stroke: black;
}

.yellowline, .yellowtext, .yellowarrow, .yellowline2, .yellowtext2, .yellowarrow2
{
  visibility: hidden;
}

.blue, .blue2
{
  fill: blue;
  stroke: black;
}

.green, .green2
{
  fill: green;
  stroke: black;
}

.greenline, .greentext, .greenarrow
{
  visibility: hidden;
}

.red, .red2, .red3
{
  fill: red;
  stroke: black;
}

.redline, .redtext, .redtextbis, .redarrow, .redtext2, .redline2, .redarrow2, .redline3, .redtext3, .redarrow3
{
  visibility: hidden;
}
